@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eeeff0, #9f9ea0);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

#container{
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
}

#search{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible{
    outline: none;
}

#search button{
    border: none;
    cursor: pointer;
}

#weather{
    margin-top: 20px;
    display: none;
}

#weather.show{
    display: block;
}

#weather #title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
}

#temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #b4cbd1, #80bdaf);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#temp_img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp_value{
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}

#temp_description{
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;
}

#other_infos .info h2{
    font-size: 12px;
    font-weight: 600;
}

#other_infos .info i{
    font-size: 20px;
    width: 20%;
    text-align: center;
}

#temp_max_icon{
    color: #7f1d1d;
}

#temp_min_icon{
    color: #0284c7;
}

#humidity_icon{
    color: #78b0cc;
}

#wind_icon{
    color: #8e5496;
}

#alert{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alert img{
    width: 300px;
    margin-top: 20px;
}

@media (max-width:1000px){
    #container{
        width: 300px;
    }
    #search{
        gap: 4px;
        padding: 2px 6px;
    }
    
    #search input{
        font-size: 15px;
        width: 100%;
    }
    
    #weather{
        margin-top: 10px;
    }
    
    #weather #title{
        margin-bottom: 2px;
    }
    
    #temp{
        gap: 10px;
        padding: 10px;
    }
    
    #temp_value{
        font-size: 35px;
        line-height: 40px;
    }
    
    #other_infos{
        margin-top: 15px;
        gap: 6px;
    }
    
    #other_infos .info{
        padding: 2px 5px;
        gap: 5px;
    }
    
    #other_infos .info i{
        font-size: 15px;
    }
    
    #alert{
        margin-top: 10px;
    }
    
    #alert img{
        width: 250px;
        margin-top: 10px;
    }
}